<header class="header" id="site-header">
    <div class="header-container container">
        <a class="header-logo" href="./#home">
            <img src="/img/header/logo.png" alt="Wide Network:
    City Flow" loading="lazy">
        </a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="0.5" y="0.5" width="23" height="23" rx="0.5" stroke="#2B373E" />
    <path d="M5.625 7.125H18.375M5.625 16.125H18.375M5.625 11.625H18.375" stroke="#FBBF24" stroke-linecap="round" />
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#home">Home</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#build">BUILT FOR THE TRADE</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#game">GAME MODES</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#weapons">WEAPONS & POWER-UPS</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#enemies">ENEMIES & BOSSES</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#silent">THE SILENT KILLER</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#why">WHY PLAY SILENT KILLER</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#core">CORE GAMEPLAY LOOP</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#home">Home</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#build">BUILT FOR THE TRADE</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#game">GAME MODES</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#weapons">WEAPONS & POWER-UPS</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#enemies">ENEMIES & BOSSES</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#silent">THE SILENT KILLER</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#why">WHY PLAY SILENT KILLER</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#core">CORE GAMEPLAY LOOP</a>
        </li>
    </ul>
            <ul class="modal-policy">
                <li class="policy-link">
                    <a href="privacy.html">Privacy Policy</a>
                </li>                
                <li class="footer-link">
                    <a href="terms.html">Terms & Conditions</a>
                </li>
                <li class="footer-link">
                    <a href="cookies.html">Cookies Policy</a>
                </li>
            </ul>    
</div>