.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.hero-title-wrap{
    background: #030716;
    border: 1px solid #fbbf24;
border-radius: 4px;
padding: 24px;
width: 343px;
height: 309px;
margin-left: auto;
margin-right: auto;
margin-top: 24px;
}
.home-title{
    font-family: "American Typewriter", sans-serif;
font-weight: 400;
font-size: 32px;
line-height: 1.1;
letter-spacing: 0.08em;
text-transform: uppercase;
text-align: center;
color: #fbbf24;
padding-bottom: 32px;
border-bottom: 1px solid #7c899e;
}
.home-subtitle{
    margin-top: 32px;
    font-family: "American Typewriter", sans-serif;
font-weight: 400;
font-size: 20px;
letter-spacing: 0.24em;
text-transform: uppercase;
line-height: 1;
text-align: center;
color: #7c899e;
}
.home-text{
    margin-top: 90px;
    font-family: "Azeret Mono", sans-serif;
font-weight: 200;
font-size: 10px;
line-height: 1.4;
text-align: center;
color: #bac4d3;
}
.home-text-two{
    margin-top: 24px;
    font-family: "American Typewriter", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.4;
letter-spacing: 0.24em;
text-transform: uppercase;
text-align: center;
color: #bac4d3;
}
.home-link{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    box-shadow: 1px 2px 2px 0 #030716;
background: #030716;
border: 1px solid #fbbf24;
border-radius: 2px;
width: 240px;
height: 72px;
justify-content: center;
align-items: center;
transition: border 0.3s ease-in-out;
}
.home-link:hover{
    border: 1px solid #4e6471;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
 .home-section{
    background-image: url("/img/home/desk.png");
 }
 .hero-title-wrap{
    margin-top: 48px;
    padding: 80px;
        width: 816px;
        height: 420px;
 }
 .home-title{
    font-size: 64px;
 }
 .home-subtitle{
    font-size: 24px;
 }
 .home-text{
    width: 816px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    margin-top: 32px;
 }
 .desk{
    display: block;
 }
 .home-text-two{
    font-size: 16px;
 }
 .home-link{
    margin-top: 24px;
 }
 .home-container{
    padding-bottom: 80px;
 }
}
/* BUILT FOR THE TRADE */
.build-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
@media only screen and (min-width: 1440px) {
 .mob{
    display: none;
 }
 .build-wrapper{
   flex-direction: row;
   margin-left: auto;
   margin-right: auto;
width: 974px;
 }
  .build-wrapper p{
    width: 343px;
  }
}
/* CORE GAMEPLAY LOOP */
.core-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.core-item{
    border: 2px solid #2b373e;
        border-radius: 2px;
        padding: 24px;
        width: 343px;
        height: 111px;
        background: rgba(43, 55, 62, 0.5);
        display: flex;
        align-items: center;
        gap: 16px;
}
.core-number{
    border: 1px solid #fbbf24;
        border-radius: 999px;
        width: 48px;
        height: 48px;
    background: #030716;
    font-family: "American Typewriter", sans-serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 1.5;
        text-align: center;
        color: #fbbf24;
        display: flex;
        justify-content: center;
        align-items: center;
}
.core-item-text{
    width: 231px;
    color: #bac4d3;
}
@media only screen and (min-width: 1440px) {
 .core-list{
    flex-direction: row;
    gap: 24px;
 }
 .core-item{
    flex-direction: column;
    padding: 24px;
        width: 200px;
        height: 196px;
 }
 .core-item-text{
    width: 152px;
    font-size: 14px;
 }
}
/* GAME MODES */
.game-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}
.game-item{
        font-size: 16px;
        line-height: 2;
        color: #bac4d3;
}
.game-text{
        font-size: 16px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
}
@media only screen and (min-width: 1440px) {
 .game-list{
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    margin-bottom: 40px;
 }
}
/* WEAPONS & POWER-UPS */

.weapons-list{
    display: flex;
    flex-wrap: wrap;
}
.weapons-text{
    border: 1px solid #4e6471;
        border-radius: 2px;
        padding: 16px 12px;
        width: 171px;
        height: 100px;
        background: #030716;
        display: flex;
        justify-content: center;
        align-items: center;
            font-size: 14px;
            color: #bac4d3;
}
.weapons-img{
        width: 171px;
            height: 100px;
                    display: flex;
                        justify-content: center;
                        align-items: center;
}
.l23{
    display: none;
}
.l1{
    order: 1;
}
.l2{
    order: 2;
}
.l3{
    order: 4;
}
.l4{
    order: 3;
}
.l5{
    order: 5;
}
.l6{
    order: 6;
}
.l7{
order: 8;
}
.l8{
    order: 7;
}
.l9{
    order: 9;
}
.l10{
    order: 10;
}
.l11{
    order: 12;
}
.l12{
order: 11;
}
.l13 {
    order: 13;
}
.l14 {
    order: 14;
}
.l15 {
    order: 16;
}
.l16 {
    order: 15;
}
.l17 {
    order: 17;
}
.l18 {
    order: 18;
}
.l19 {
    order: 20;
}
.l20 {
    order: 19;
}
.l21 {
    order: 21;
}
.l22 {
    order: 22;
}
.l24 {
    order: 24;
}
.l25 {
    order: 23;
}
@media only screen and (min-width: 1440px) {
    .weapons-list{
        gap: 10px;
        justify-content: center;
    }
    .weapons-text{
        width: 189px;
        height: 100px;
    }
    .weapons-img{
            width: 189px;
                height: 100px;
    }
.l1 {
        order: 1;
    }

    .l2 {
        order: 2;
    }

    .l3 {
        order: 3;
    }

    .l4 {
        order: 4;
    }

    .l5 {
        order: 5;
    }

    .l6 {
        order: 6;
    }

    .l7 {
        order: 7;
    }

    .l8 {
        order: 8;
    }

    .l9 {
        order: 9;
    }

    .l10 {
        order: 10;
    }

    .l11 {
        order: 11;
    }

    .l12 {
        order: 12;
    }

    .l13 {
        order: 13;
    }

    .l14 {
        order: 14;
    }

    .l15 {
        order: 15;
    }

    .l16 {
        order: 16;
    }

    .l17 {
        order: 17;
    }

    .l18 {
        order: 18;
    }

    .l19 {
        order: 19;
    }

    .l20 {
        order: 20;
    }

    .l21 {
        order: 21;
    }

    .l22 {
        order: 22;
    }
.l23
{
    display: flex;
    order: 23;
}
    .l24 {
        order: 25;
    }

    .l25 {
    order: 24;
    }
}